# Node
TZ=UTC
PORT=8888
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=zKXHe-Ahdb7aPK1ylAJlRgTefktEaACi
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

#DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=rps
DB_PASSWORD=rpsroyal
DB_DATABASE=rpsroyal